@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter',sans-serif;
}

body{
    background-color: #bbb4b4;
    height: 100vh;
}

header{

    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 12rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    color: #fff;
    font-size: 1.15rem;
    font-size: 15px;
    text-decoration: none;
}

.logo a:hover{
    color: #706e6e;
    transform: scale(1.05);
}

.nav-list{
    display:flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    transition: .2s;
}
.nav-link:hover{
    color: #706e6e;
    transform: scale(1.05);
}

.gm-contact button{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #706e6e;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.gm-contact button:hover{
    background-color: #3d3d3d;
}

.flex{
    display: flex;
}
/* ESTILO  INICIO*/

section.inicio{

    padding: 100px 4%;
}

section.inicio .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.txt-site p{
    
    color: #000000;
    font-size: 40px;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;

}
.txt-site p::after{
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: pisca .7s infinite;
  }
  @keyframes pisca {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }}

    .btn{

        margin-top: 100px;
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #fff;
        background-color: #706e6e;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .btn:hover{
        background-color: #3d3d3d;
    }


.foto img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}